<header class="masthead">
  <div class="container">
    <span class="icon">✌</span>
    <h1>{{ site.name }}</h1>
    <p class="lead">Raz&otilde;es pelas quais HTML e CSS podem fazer voc&ecirc; dizer &quot;Mas que *orra!&quot;. Uma lista com frequentemente frustrantes equ&iacute;vocos, situa&ccedil;&otilde;es dif&iacute;ceis e dilemas de HTML e CSS.</p>
    <p class="lead">Criado por <a href="{{ site.twitter }}">@mdo</a>. Vers&atilde;o brasileira por <a href="{{ site.webfatorial_link }}">webfatorial</a>.</p>

    <p class="masthead-links">
      <a href="{{ site.repo }}">
        <span class="icon icon-github-circled"></span>
      </a>
    </p>
  </div>
</header>
